header {
    // width: 100%;
    background-image: url(../assets/background-hero.jpg);
    background-size: cover;
    height: 100vh;
    background-position: bottom;
}

.contact {
    background-color:$primary;
    color: $secondary;
}

.contact-info {
    display: flex;
    height: 80px;
    align-items: center;
    padding: 0 10px;
    font-size: .7rem;
    margin: 0;
   
}

.company-logo {
    margin-left: auto;
    margin-right: auto;

}

.icon {
    margin: 10px;
    padding: 10px;
}

.header-text {
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
}

.section-header {
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

.section-header h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1rem;
}

.section-header h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1rem;
}


