header {
    width: 100%;
    position: fixed;
    z-index: 99999;
    box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.36);

}

.top {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   justify-items: center;
}

p.c-phone:before, p.c-email:before {
   font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
   color: $cta;
   font-size: 0.8rem;
   padding: 0 10px;
}

p.c-phone:before {
   content: "\f095";
}

p.c-email:before {
   content: "\f003";
}

.contact {
    background-color:$primary;
    color: $secondary;
}

.contact-info {
    display: flex;
    height: 80px;
    align-items: center;
    padding: 0 10px;
    font-size: .8rem;
    margin: 0;
   
}

.register, .login {
    display: inline;
    line-height: .6rem;
    padding: 0 10px;
    font-size: .8rem;
}

.register {
    border-right: 1px solid rgb(255, 255, 255);
}

.company-logo {
    margin-left: auto;
    margin-right: auto;

}

.icon {
    margin: 10px;
    padding: 10px;
}


.hero{
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    background-image: url(../assets/background-hero.jpg); 
    color: $accent;
    padding: 150px;
}

.hero h1{
  font-size: 3.5rem;
  margin: auto;
  padding-top: 130px;
}

.hero p{
  font-size: 1.2rem;
  padding-bottom: 50px;
 
}


@media (max-width: 768px) {

.contact-info .icon {
    display:none;
}
  .hero{
    height: 75vw;
  }

  .hero h1{
    font-size: 8vw;
    top: 13vw;
  }
  .hero p{
    font-size: 1.8vw;
    top: 40vw;
  }
.hero .start {
    position: absolute; 
    bottom: 10vh;
    right: -50%;
    left: -50%;
}
}

@media (max-width: 480px) {
  .hero{
    height: 75vw;
  }

  .hero h1{
    font-size: 8vw;
    top: 13vw;
  }
  .hero p{
    font-size: 3vw;
    top: 50vw;
  }
  .hero .start {
    position: absolute; 
    bottom: 10vh;
    right: -50%;
    left: -50%;
}
}

