button {
    padding: 20px;
    clear: both;

}

.start {
  margin: 0 auto;
}


#button-effect {
  // margin: 0 auto;
  font-size: 1rem;
  padding: .9rem 1.6rem;
  display: block;
  background-color: $cta;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 400;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

#button-effect:hover {
  background-color: $accent;
  color: $secondary;
  border-color: $secondary;
}

.submit {
  padding: 5px 10px;
  background: $cta;
  border: none;
  text-align: center;
}

.submit i {
  color: $secondary;
}
