button {
    padding: 20px;
    clear: both;
}


#button-effect {
  // margin: 0 auto;
  font-size: .7rem;
  padding: .6rem 1.5rem;
  display: block;
  background-color: $cta;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 400;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

#button-effect:hover {
  background-color: rgba($color: #ffffff, $alpha: 0.0);
  color: $cta;
  border-color: $cta;
}