
nav {
  margin: 20px auto;
  max-width: 700px;
  width: 95%;
}

.collapsible-menu {
  display: none;
}

.menu {
  padding: 0;
  margin: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background: #FBFBFB;
}

.menu li a {
  text-decoration: none;
  align-self: center;
  font-weight:700;
  font-size: .8rem;
  padding: 10px 15px;
  // transition: background .2s linear;
  color: $primary;
  &:hover {
    color: $cta;
  }
}

.courses-menu {
  padding: 0;
  margin: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background: #FBFBFB;
  
}

.courses-menu li a {
  text-decoration: none;
  align-self: center;
  font-weight:400;
  font-size: .8rem;
  padding: 10px 10px;
  transition: background .2s linear;
  color: $primary;
}

@media (max-width: 768px) {
  .collapsible-menu {
    display: block;
  }

  .menu {
    display: none;
  }

  .menu-content {
    max-height: 10px;
    overflow: hidden;
    padding: 0 0 0 50px;
  }

  .collapsible-menu {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 0px 30px;
      
  }

  .collapsible-menu ul {
      list-style-type: none;
      padding: 0;
  }

  .collapsible-menu a {
      display:block;
      padding: 10px;
      text-decoration: none;
  }

  .collapsible-menu label {
      color: rgba(255, 255, 255, 0);
      display: block;
      cursor: pointer;
      background: url(../assets/menu.png) no-repeat left;
      padding: 25px 0 0px 0px;
  }

  input#collapse {
      display: none;
  }

/* Toggle Effect */

  // input:checked ~ label {
  //     background-image: url(../assets/close.png) no-repeat;
  // }

  input:checked ~ .menu-content {
      max-height: 100%;
  }

}