article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px; }

button {
  padding: 20px; }

#button-effect {
  margin: 0 auto;
  font-size: .7rem;
  padding: .6rem 1.5rem;
  display: block;
  background-color: #6BC540;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 400;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase; }

#button-effect:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #6BC540;
  border-color: #6BC540; }

.course-gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px; }

.course-container {
  border: 1px solid #B7B7B7; }

.course-info {
  padding: 10px 20px;
  border-bottom: 1px solid #B7B7B7;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.course-image {
  width: 100%; }

.course-instructor img {
  float: left; }

.view-instructor {
  float: left;
  margin-left: 10px;
  font-size: .8rem; }

.course-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  padding: 20px; }

.price {
  margin-left: auto; }

.photo-gallery {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr); }

.photo-gallery img {
  width: 100%; }

span .name {
  font-size: .8rem;
  float: left; }

span .profile {
  font-size: 1rem;
  float: left;
  text-transform: uppercase; }

nav {
  margin: 50px auto;
  max-width: 700px;
  width: 95%; }

#checkbox1,
#checkbox2,
#checkbox3,
.toggle {
  display: none; }

.menu {
  padding: 0;
  margin: 0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  background: #FBFBFB; }

.menu li a {
  text-decoration: none;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: 900;
  font-size: .8rem;
  padding: 10px 15px;
  -webkit-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear;
  color: #222222; }

header {
  background-image: url(../assets/background-hero.jpg);
  background-size: cover;
  height: 100vh;
  background-position: bottom; }

.contact {
  background-color: #222222;
  color: #FBFBFB; }

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
  font-size: .7rem;
  margin: 0; }

.company-logo {
  margin-left: auto;
  margin-right: auto; }

.icon {
  margin: 10px;
  padding: 10px; }

.header-text {
  max-width: 800px;
  text-align: center;
  margin: 20px auto; }

.section-header {
  margin: 0 auto;
  text-align: center;
  padding: 50px; }

.section-header h3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1rem; }

.section-header h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1rem; }

.latest-news {
  margin: 0 auto; }

.article-content {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #B7B7B7;
  position: relative; }

.article-content img {
  height: 100%;
  position: absolute;
  top: -10px;
  left: 10px; }

footer {
  background: hotpink; }

body {
  background-color: #FBFBFB; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }

ul {
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  color: #242A42;
  padding: 20vh 0 0 0; }

h4 {
  font-size: .9rem;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0 0 10px 0;
  margin: 0; }

main section:nth-child(even) {
  background-color: #F1F2F7; }
