article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px; }

button {
  padding: 20px;
  clear: both; }

.start {
  margin: 0 auto; }

#button-effect {
  font-size: 1rem;
  padding: .9rem 1.6rem;
  display: block;
  background-color: #6BC540;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 400;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase; }

#button-effect:hover {
  background-color: #242A42;
  color: #FBFBFB;
  border-color: #FBFBFB; }

.submit {
  padding: 5px 10px;
  background: #6BC540;
  border: none;
  text-align: center; }

.submit i {
  color: #FBFBFB; }

a .name {
  color: #222222;
  font-size: .8rem; }

a .profile {
  color: #6BC540;
  text-transform: uppercase;
  font-size: .6rem; }

.course-gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px; }

.course-container {
  border: 1px solid #B7B7B7; }
  .course-container:hover {
    -webkit-box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36); }

.course-info {
  padding: 10px 20px;
  border-bottom: 1px solid #B7B7B7;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.course-image {
  width: 100%; }

.course-instructor img {
  float: left; }

.view-instructor {
  float: left;
  margin-left: 10px;
  font-size: .8rem; }

p.users:before, p.comments:before {
  font-family: FontAwesome;
  display: inline-block;
  vertical-align: middle;
  color: #656565;
  font-size: 1rem;
  padding: 0 5px; }

p.users:before {
  content: "\f0c0"; }

p.comments:before {
  content: "\f086"; }

.course-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  padding: 5px;
  color: #656565; }

.stats {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5px;
  font-size: .8rem;
  margin: 0; }

.price {
  margin-left: auto;
  font-size: 0.8rem;
  color: #6BC540;
  padding: 0 5px; }

.photo-gallery {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr); }

.photo-gallery img {
  width: 100%; }

span .name {
  font-size: .8rem;
  float: left; }

span .profile {
  font-size: 1rem;
  float: left;
  text-transform: uppercase; }

.contact-info {
  padding: 0px; }

@media (max-width: 988px) {
  .course-gallery {
    grid-template-columns: repeat(3, 1fr); } }

@media (max-width: 766px) {
  .course-gallery {
    grid-template-columns: repeat(2, 1fr); }
  .photo-gallery {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 546px) {
  .course-gallery {
    grid-template-columns: 1fr; }
  .photo-gallery {
    grid-template-columns: 1fr; } }

nav {
  margin: 20px auto;
  max-width: 700px;
  width: 95%; }

.collapsible-menu {
  display: none; }

.menu {
  padding: 0;
  margin: 0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  background: #FBFBFB; }

.menu li a {
  text-decoration: none;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: 700;
  font-size: .8rem;
  padding: 10px 15px;
  color: #222222; }
  .menu li a:hover {
    color: #6BC540; }

.courses-menu {
  padding: 0;
  margin: 0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  background: #FBFBFB; }

.courses-menu li a {
  text-decoration: none;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: 400;
  font-size: .8rem;
  padding: 10px 10px;
  -webkit-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear;
  color: #222222; }
  .courses-menu li a:hover {
    color: #6BC540; }

.menu-content {
  max-height: 10px;
  overflow: hidden;
  padding: 0 0 0 50px; }

.collapsible-menu {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0px 30px; }

.collapsible-menu ul {
  list-style-type: none;
  padding: 0; }

.collapsible-menu a {
  display: block;
  padding: 10px;
  text-decoration: none; }

.collapsible-menu label {
  color: rgba(255, 255, 255, 0);
  display: block;
  cursor: pointer;
  background: url(../assets/menu.png) no-repeat left;
  padding: 25px 0 0px 0px; }

input#collapse {
  display: none; }

input:checked ~ .menu-content {
  max-height: 100%; }

@media (max-width: 768px) {
  .collapsible-menu {
    display: block; }
  .menu {
    display: none; } }

@media (max-width: 514px) {
  .courses-menu {
    display: none; } }

header {
  width: 100%;
  position: fixed;
  z-index: 99999;
  -webkit-box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36); }

.top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center; }

p.c-phone:before, p.c-email:before {
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 6px;
  vertical-align: middle;
  color: #6BC540;
  font-size: 0.8rem;
  padding: 0 10px; }

p.c-phone:before {
  content: "\f095"; }

p.c-email:before {
  content: "\f003"; }

.contact {
  background-color: #222222;
  color: #FBFBFB; }

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
  font-size: .8rem;
  margin: 0; }

.register, .login {
  display: inline;
  line-height: .6rem;
  padding: 0 10px;
  font-size: .8rem; }

.register {
  border-right: 1px solid white; }

.icon {
  margin: 10px;
  padding: 10px; }

.hero {
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  background-image: url(../assets/background-hero.jpg);
  color: #242A42;
  padding-top: 150px; }

.hero h1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  color: #242A42;
  font-weight: 900;
  margin: 0;
  padding-top: 130px; }

.hero p {
  font-size: 1.2rem;
  padding-bottom: 50px; }

@media (max-width: 988px) {
  .contact-info {
    visibility: hidden; } }

@media (max-width: 546px) {
  .hero {
    width: 100%;
    background-size: cover;
    height: 50vh;
    background-image: url(../assets/background-hero.jpg);
    color: #242A42;
    padding-top: 5vw; }
  .hero h1 {
    font-size: 2rem;
    text-align: left; }
  .hero p {
    font-size: .9rem;
    text-align: left; }
  .register, .login {
    display: none; } }

@media (max-width: 480px) {
  .hero {
    width: 100%;
    background-size: cover;
    height: 80vh;
    background-image: url(../assets/background-hero.jpg);
    color: #242A42; }
  .hero h1 {
    font-size: 2rem;
    text-align: left; }
  .hero p {
    font-size: .7rem;
    padding-bottom: 50px;
    width: 80%; }
  .contact-info {
    display: none; }
  .contact {
    height: 10vh;
    margin: 0 auto;
    padding: 20px; }
  .top {
    display: grid;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center; } }

.course-footer a i {
  color: #222222;
  font-size: .8rem; }

.latest-news {
  margin: 0 auto; }

.article-content {
  margin: 50px 0;
  border: 1px solid #B7B7B7;
  background-color: #F1F2F7; }
  .article-content:hover {
    -webkit-box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36); }

.article-content img {
  max-width: 40%;
  position: relative;
  top: -10px;
  left: 10px; }

.content {
  width: 55%;
  float: right;
  padding: 15px;
  line-height: 1.2rem; }

.article-title {
  font-size: 1.2rem;
  font-weight: 700; }

.description {
  font-size: .8rem; }

.article-stats {
  font-size: .8rem;
  padding: 0; }

.stats {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5px;
  font-size: .8rem;
  margin: 0; }

.article-stats .stats {
  height: 30px; }

.price-table-wrapper {
  text-align: center;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .price-table-wrapper .pricing-table {
    border: 1px solid #C8C8C8;
    background: #F1F2F7;
    margin: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative; }
    .price-table-wrapper .pricing-table:hover {
      background: #6BC540; }
    .price-table-wrapper .pricing-table__price {
      text-align: center;
      color: #222222;
      display: inline;
      margin: 20px;
      padding: 20px;
      font-size: 1.5rem;
      font-weight: 700;
      border: 5px solid #ffffff;
      border-radius: 50%;
      background-color: #F1F2F7;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .price-table-wrapper .pricing-table__header {
      padding: 30px;
      font-size: 1.1rem;
      color: #222222;
      margin: 40px 0 5px 0;
      padding: 0px; }
    .price-table-wrapper .pricing-table__subheader {
      margin: 0 0 30px 0;
      padding: 0px;
      font-size: 0.7rem;
      color: #222222; }
    .price-table-wrapper .pricing-table__button {
      display: block;
      background: #F1F2F7;
      text-decoration: none;
      padding: 20px;
      color: #222222;
      position: relative;
      overflow: hidden;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .price-table-wrapper .pricing-table__list {
      font-size: 0.8rem;
      color: #222222;
      margin: 5px 5px 0 5px;
      background-color: #fff;
      padding: 20px; }
      .price-table-wrapper .pricing-table__list li {
        padding: 5px; }
    .price-table-wrapper .pricing-table:hover {
      -webkit-box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
      box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36); }
      .price-table-wrapper .pricing-table:hover .pricing-table__price, .price-table-wrapper .pricing-table:hover .pricing-table__button {
        background-color: #6BC540;
        color: #fff; }

.pricing-table .price {
  width: 100px;
  height: 1000px; }

.fancy:before,
.fancy:after {
  background-color: #6BC540;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: text-top;
  width: 5%; }

.fancy:before {
  right: 0.5em;
  margin-left: -50%; }

.fancy:after {
  left: 0.5em;
  margin-right: -50%; }

.feature-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  padding: 55px; }

.circle {
  background: white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute; }

.feature-description {
  width: 90%;
  position: relative;
  z-index: 1; }

.bullet {
  font-size: 1.2rem;
  font-weight: 700;
  display: inline; }

.bullet-none {
  font-size: .8rem;
  font-weight: 400; }

.bullet-icon {
  position: absolute;
  left: -50px;
  top: -10px; }

@media (max-width: 988px) {
  .feature-container {
    grid-template-columns: repeat(3, 1fr); } }

@media (max-width: 766px) {
  .feature-container {
    grid-template-columns: 1fr;
    grid-gap: 100px; }
  .price-table-wrapper {
    grid-template-columns: 1fr; }
  .article-content img {
    max-width: 80%; }
  .content {
    width: 100%;
    padding: 15px;
    line-height: 1.2rem; } }

footer {
  background: #222222;
  color: #FBFBFB;
  font-size: .8rem;
  line-height: 1.5rem;
  font-weight: 300; }

footer ul li a {
  color: #FBFBFB; }

.highlight {
  color: #6BC540; }

.column h5 {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400; }

.logo {
  margin-top: 20px; }

.checkmark a:before, .location a:before, .phone a:before, .email a:before {
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 6px;
  vertical-align: middle;
  color: #6BC540;
  font-size: 0.8rem;
  padding-right: 10px; }

.chevron a:hover:before {
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 6px;
  vertical-align: middle;
  content: "\f054";
  color: #6BC540;
  font-size: .7rem;
  padding-right: 10px; }

.checkmark a:before {
  content: "\f00c"; }

.location a:before {
  content: "\f041"; }

.phone a:before {
  content: "\f098"; }

.email a:before {
  content: "\f0e0"; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.column {
  width: calc(25% - 10px); }

@media (max-width: 766px) {
  .footer {
    display: block; }
  .column {
    width: 100%; } }

body {
  background-color: #FBFBFB; }

.wrapper {
  width: 80%;
  max-width: 900px;
  margin: 0 auto; }

ul {
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

h4 {
  font-size: .9rem;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0 0 10px 0;
  margin: 0; }

section {
  padding: 50px 0; }

main section:nth-child(even) {
  background-color: #F1F2F7; }

i {
  color: #6BC540;
  padding: 0 7px 0 0; }

.section-header {
  max-width: 400px;
  margin: 0 auto;
  text-align: center; }

.section-header h3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1rem; }

.section-header h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.5rem; }
